In [1]:
import pyspark
from pyspark.sql import SparkSession

spark = SparkSession.builder \
    .master("local[*]") \  # create local cluster
    .appName('test') \
    .getOrCreate()

WARNING: Using incubator modules: jdk.incubator.vector
Using Spark's default log4j profile: org/apache/spark/log4j2-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/07/05 21:37:02 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [2]:
df_green = spark.read \
    .option("header","true") \
    .option("recursiveFileLookup","true") \
    .parquet('data/pq/green')

In [3]:
df_green.printSchema()

root
 |-- VendorID: integer (nullable = true)
 |-- lpep_pickup_datetime: timestamp (nullable = true)
 |-- lpep_dropoff_datetime: timestamp (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- RatecodeID: integer (nullable = true)
 |-- PULocationID: integer (nullable = true)
 |-- DOLocationID: integer (nullable = true)
 |-- passenger_count: integer (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- fare_amount: double (nullable = true)
 |-- extra: double (nullable = true)
 |-- mta_tax: double (nullable = true)
 |-- tip_amount: double (nullable = true)
 |-- tolls_amount: double (nullable = true)
 |-- ehail_fee: double (nullable = true)
 |-- improvement_surcharge: double (nullable = true)
 |-- total_amount: double (nullable = true)
 |-- payment_type: integer (nullable = true)
 |-- trip_type: integer (nullable = true)
 |-- congestion_surcharge: double (nullable = true)

In [4]:
df_yellow = spark.read \
    .option("header","true") \
    .option("recursiveFileLookup","true") \
    .parquet('data/pq/yellow')

In [5]:
df_yellow.printSchema()

root
 |-- VendorID: integer (nullable = true)
 |-- tpep_pickup_datetime: timestamp (nullable = true)
 |-- tpep_dropoff_datetime: timestamp (nullable = true)
 |-- passenger_count: integer (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- RatecodeID: integer (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- PULocationID: integer (nullable = true)
 |-- DOLocationID: integer (nullable = true)
 |-- payment_type: integer (nullable = true)
 |-- fare_amount: double (nullable = true)
 |-- extra: double (nullable = true)
 |-- mta_tax: double (nullable = true)
 |-- tip_amount: double (nullable = true)
 |-- tolls_amount: double (nullable = true)
 |-- improvement_surcharge: double (nullable = true)
 |-- total_amount: double (nullable = true)
 |-- congestion_surcharge: double (nullable = true)

In [6]:
# find columns common in both dfs
set(df_green.columns) & set(df_yellow.columns)

{'DOLocationID',
 'PULocationID',
 'RatecodeID',
 'VendorID',
 'congestion_surcharge',
 'extra',
 'fare_amount',
 'improvement_surcharge',
 'mta_tax',
 'passenger_count',
 'payment_type',
 'store_and_fwd_flag',
 'tip_amount',
 'tolls_amount',
 'total_amount',
 'trip_distance'}

In [7]:
# rename pickup and dropoff datetime columns
df_green = df_green \
    .withColumnRenamed('lpep_pickup_datetime', 'pickup_datetime') \
    .withColumnRenamed('lpep_dropoff_datetime', 'dropoff_datetime')

In [8]:
df_green.printSchema()

root
 |-- VendorID: integer (nullable = true)
 |-- pickup_datetime: timestamp (nullable = true)
 |-- dropoff_datetime: timestamp (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- RatecodeID: integer (nullable = true)
 |-- PULocationID: integer (nullable = true)
 |-- DOLocationID: integer (nullable = true)
 |-- passenger_count: integer (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- fare_amount: double (nullable = true)
 |-- extra: double (nullable = true)
 |-- mta_tax: double (nullable = true)
 |-- tip_amount: double (nullable = true)
 |-- tolls_amount: double (nullable = true)
 |-- ehail_fee: double (nullable = true)
 |-- improvement_surcharge: double (nullable = true)
 |-- total_amount: double (nullable = true)
 |-- payment_type: integer (nullable = true)
 |-- trip_type: integer (nullable = true)
 |-- congestion_surcharge: double (nullable = true)

In [9]:
df_yellow = df_yellow \
    .withColumnRenamed('tpep_pickup_datetime', 'pickup_datetime') \
    .withColumnRenamed('tpep_dropoff_datetime', 'dropoff_datetime')

df_yellow.printSchema()

root
 |-- VendorID: integer (nullable = true)
 |-- pickup_datetime: timestamp (nullable = true)
 |-- dropoff_datetime: timestamp (nullable = true)
 |-- passenger_count: integer (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- RatecodeID: integer (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- PULocationID: integer (nullable = true)
 |-- DOLocationID: integer (nullable = true)
 |-- payment_type: integer (nullable = true)
 |-- fare_amount: double (nullable = true)
 |-- extra: double (nullable = true)
 |-- mta_tax: double (nullable = true)
 |-- tip_amount: double (nullable = true)
 |-- tolls_amount: double (nullable = true)
 |-- improvement_surcharge: double (nullable = true)
 |-- total_amount: double (nullable = true)
 |-- congestion_surcharge: double (nullable = true)

In [10]:
# get the common columns and preserve their ordering in the dfs
common_columns = []

yellow_columns = set(df_yellow.columns)

for col in df_green.columns:
    if col in yellow_columns:
        common_columns.append(col)

In [11]:
common_columns

['VendorID',
 'pickup_datetime',
 'dropoff_datetime',
 'store_and_fwd_flag',
 'RatecodeID',
 'PULocationID',
 'DOLocationID',
 'passenger_count',
 'trip_distance',
 'fare_amount',
 'extra',
 'mta_tax',
 'tip_amount',
 'tolls_amount',
 'improvement_surcharge',
 'total_amount',
 'payment_type',
 'congestion_surcharge']

In [12]:
from pyspark.sql import functions as F

In [13]:
# select the common cols and add columns where row is from
df_green_sel = df_green \
    .select(common_columns) \
    .withColumn('service_type', F.lit('green'))

df_yellow_sel = df_yellow \
    .select(common_columns) \
    .withColumn('service_type', F.lit('yellow'))

In [14]:
# combine both dataframes into one
df_trips_data = df_green_sel.unionAll(df_yellow_sel)

In [15]:
df_trips_data.groupBy('service_type').count().show()

[Stage 2:============================>                           (15 + 14) / 29]

+------------+--------+
|service_type|   count|
+------------+--------+
|       green| 2304517|
|      yellow|39649199|
+------------+--------+

In [16]:
# spark dataframes aren't automatically recognized by spark sql as tables
# need to register them as tables first
df_trips_data.createOrReplaceTempView('trips_data')

In [17]:
spark.sql("""
SELECT
    service_type,
    count(1)
FROM
    trips_data
GROUP BY
    service_type
    """).show()

+------------+--------+
|service_type|count(1)|
+------------+--------+
|       green| 2304517|
|      yellow|39649199|
+------------+--------+

In [18]:
df_result = spark.sql("""
SELECT 
    -- Reveneue grouping 
    PULocationID AS revenue_zone,
    date_trunc('month', pickup_datetime) AS revenue_month, 
    service_type, 

    -- Revenue calculation 
    SUM(fare_amount) AS revenue_monthly_fare,
    SUM(extra) AS revenue_monthly_extra,
    SUM(mta_tax) AS revenue_monthly_mta_tax,
    SUM(tip_amount) AS revenue_monthly_tip_amount,
    SUM(tolls_amount) AS revenue_monthly_tolls_amount,
    SUM(improvement_surcharge) AS revenue_monthly_improvement_surcharge,
    SUM(total_amount) AS revenue_monthly_total_amount,
    SUM(congestion_surcharge) AS revenue_monthly_congestion_surcharge,

    -- Additional calculations
    AVG(passenger_count) AS avg_montly_passenger_count,
    AVG(trip_distance) AS avg_montly_trip_distance
FROM
    trips_data
GROUP BY
    1, 2, 3
""")

In [19]:
df_result.show()

[Stage 8:=======================================================> (28 + 1) / 29]

+------------+-------------------+------------+--------------------+---------------------+-----------------------+--------------------------+----------------------------+-------------------------------------+----------------------------+------------------------------------+--------------------------+------------------------+
|revenue_zone|      revenue_month|service_type|revenue_monthly_fare|revenue_monthly_extra|revenue_monthly_mta_tax|revenue_monthly_tip_amount|revenue_monthly_tolls_amount|revenue_monthly_improvement_surcharge|revenue_monthly_total_amount|revenue_monthly_congestion_surcharge|avg_montly_passenger_count|avg_montly_trip_distance|
+------------+-------------------+------------+--------------------+---------------------+-----------------------+--------------------------+----------------------------+-------------------------------------+----------------------------+------------------------------------+--------------------------+------------------------+
|          55|2020-01-01 00:00:00|       green|   66796.46999999987|              2658.25|                  589.5|        225.66000000000008|          1844.5099999999875|                    541.5000000000092|           72709.69000000077|                               30.25|        1.5239206534422405|       9.333281553398075|
|           3|2020-01-01 00:00:00|       green|  12951.510000000033|                885.5|                   87.0|                     44.18|           702.2400000000004|                   135.29999999999941|          14820.079999999976|                                 5.5|        1.0987654320987654|        6.40849019607843|
|          14|2020-01-01 00:00:00|       green|   44186.50999999993|               2549.0|                  345.5|        257.00000000000006|          1285.8899999999962|                    412.2000000000099|                     49090.7|                               74.25|        1.0737704918032787|        6.87679697351829|
|         190|2020-01-01 00:00:00|       green|  3786.0199999999995|                175.0|                   76.5|        242.16000000000003|                       24.48|                    62.69999999999976|           4419.360000000004|                               35.75|        1.4244604316546763|       3.550691244239631|
|         127|2020-01-01 00:00:00|       green|  22044.200000000033|               878.75|                  441.0|         994.0299999999999|          481.67000000000024|                   329.40000000000674|          25470.699999999713|                               305.0|        1.1855309218203034|       4.772682717110913|
|          29|2020-01-01 00:00:00|       green|   25023.05000000002|               1154.5|                  230.0|        116.18999999999998|           802.9200000000005|                    225.0000000000028|           27554.40999999989|                                2.75|        1.1295681063122924|        7.83871275327771|
|         221|2020-01-01 00:00:00|       green|               382.5|                  1.0|                    3.0|                       0.0|           85.67999999999999|                                  2.1|                      474.28|                                 0.0|        1.2857142857142858|      12.874285714285715|
|         158|2020-01-01 00:00:00|       green|   360.8500000000001|                13.75|                    0.0|                       0.0|                        30.6|                   2.6999999999999997|                       407.9|                                NULL|                      NULL|                   10.52|
|         129|2020-01-01 00:00:00|       green|  120756.02999999937|              5641.25|                 4298.0|         5140.960000000003|           1726.009999999989|                   2874.9000000002825|          141258.90000000803|                               772.5|        1.5201231330521034|      2.6745766170169323|
|          61|2020-01-01 00:00:00|       green|   95118.76999999829|               6978.5|                 1236.5|         1176.729999999999|          1145.3799999999983|                   1260.8999999999003|          107306.63000000104|                               165.0|        1.2742130750605327|      3.9018475317642127|
|          56|2020-01-01 00:00:00|       green|  23927.470000000038|               1648.5|                  265.0|        142.15999999999997|           659.4200000000003|                    333.3000000000069|          26997.049999999716|                                22.0|        1.3625498007968126|       4.243021523178806|
|          43|2020-01-01 00:00:00|       green|   57927.88999999996|              3114.75|                 2532.0|         9246.320000000038|           698.0600000000002|                    1553.399999999856|           84271.52000000405|                             10059.5|        1.3527444422585087|        2.40105918406435|
|         253|2020-01-01 00:00:00|       green|              582.21|                 20.0|                    7.5|                     11.26|                       18.36|                    4.799999999999999|                      644.13|                                 0.0|        1.3333333333333333|       8.487894736842103|
|         237|2020-01-01 00:00:00|       green|  3895.6100000000006|                248.5|                    7.5|                       0.0|          176.44000000000008|                   31.500000000000053|           4359.549999999999|                                 0.0|                       1.0|      10.208504672897197|
|           7|2020-01-01 00:00:00|       green|  169074.51999999958|              7929.25|                 7443.5|        12952.749999999965|          1746.7599999999884|                    4730.700000001408|          207287.27999996906|                             3448.25|        1.4415973377703828|       2.292246326977181|
|         153|2020-01-01 00:00:00|       green|   4208.179999999999|               217.25|                   63.0|                     52.21|          112.96000000000002|                    54.29999999999984|           4723.850000000008|                                11.0|        1.3364485981308412|       4.772254901960782|
|          30|2020-01-01 00:00:00|       green|              150.32|                 8.25|                    0.5|                       0.0|          12.989999999999998|                                  1.2|                      173.26|                                 0.0|                       1.0|                   7.665|
|         164|2020-01-01 00:00:00|       green|             1139.53|                68.75|                    2.5|                       0.0|          116.28000000000003|                   10.800000000000004|          1337.8600000000004|                                 0.0|                       1.0|       8.912222222222223|
|         108|2020-01-01 00:00:00|       green|  17651.770000000008|               1152.0|                  158.5|        23.009999999999998|           288.7800000000001|                   179.10000000000107|          19453.159999999963|                                2.75|        1.0443037974683544|       6.634133522727268|
|         137|2020-01-01 00:00:00|       green|  11150.590000000002|               783.75|                   52.5|                       0.0|           971.7700000000004|                   113.09999999999928|          13071.710000000005|                                 0.0|                       1.0|        8.73506631299735|
+------------+-------------------+------------+--------------------+---------------------+-----------------------+--------------------------+----------------------------+-------------------------------------+----------------------------+------------------------------------+--------------------------+------------------------+
only showing top 20 rows

In [20]:
df_result.coalesce(1) \
    .write \
    .parquet('data/report/revenue/')

In [21]:
!tree data/report

data/report
└── revenue
    ├── _SUCCESS
    └── part-00000-8fd789c0-37e0-435b-ae09-88d5d12a7602-c000.snappy.parquet

2 directories, 2 files

In [24]:
!ls -lah data/report/revenue

total 1056
-rw-r--r--@ 1 romadv-mac  staff     0B  5 Jul 21:42 _SUCCESS
drwxr-xr-x@ 6 romadv-mac  staff   192B  5 Jul 21:42 .
-rw-r--r--@ 1 romadv-mac  staff     8B  5 Jul 21:42 ._SUCCESS.crc
drwxr-xr-x@ 3 romadv-mac  staff    96B  5 Jul 21:42 ..
-rw-r--r--@ 1 romadv-mac  staff   4.0K  5 Jul 21:42 .part-00000-8fd789c0-37e0-435b-ae09-88d5d12a7602-c000.snappy.parquet.crc
-rw-r--r--@ 1 romadv-mac  staff   515K  5 Jul 21:42 part-00000-8fd789c0-37e0-435b-ae09-88d5d12a7602-c000.snappy.parquet

In [25]:
spark.stop()